{% extends "base.html" %}

{% block title %}Culture promotion team{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
		</div>
		<div class="span4">
			<h3 class="text-center text-info">
				任务清单
			</h3>
		</div>
		<div class="span4">
		</div>
	</div>
</div>

<a href="/task/new/">新建任务<a>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
		</div>
		<div class="span6">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							标题
						</th>
						<th>
							日期
						</th>
						<th>
							发布者
						</th>
						<th>
							详细信息
						</th>
					</tr>
				</thead>
				<tbody>
					{% for item in result %}
					<tr>
						<td>
							{{ item.title }}
						</td>
						<td>
							{{ item.date }}
						</td>
						<td>
							<a href="/contact/{{ item.post_id }}">{{ item.post_man }}</a>
						</td>
						<td>
							<a href="/task/{{ item.id }}">full story</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="span3">
		</div>
	</div>
</div>

{% endblock %}
