{% extends "base.html" %}

{% block title %}Culture promotion team{% endblock %}

{% block content %}
<h2 class="text-center">管理界面</h2>
<p>{{message}}</p>
<br/>
<br/>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
		</div>
		<div class="span7">
			<div class = "span3">
				<a class = "btn btn-info" href = "/join/admin/info/">资料审核</a>
			</div>
			<div class = "span3">
				<a class = "btn btn-info" href = "/join/admin/exam/">笔试筛选</a>
			</div>
			<div class = "span3">
				<a class = "btn btn-info" href = "/join/admin/interview/">面试筛选</a>
			</div>
			<div class = "span3">
				<a class = "btn btn-info" href = "/join/admin/presentation/">展馆试筛选</a>
			</div>
		</div>
		<div class="span2">
		</div>
	</div>
</div>


{% endblock %}