{% extends "base.html" %}

{% block title %}Culture promotion team{% endblock %}

{% block content %}
<h2 class="text-center">恭喜您通过了我们的考核</h2>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span8">
			<div class="progress progress-success progress-striped">
			  <div class="bar" style="width: 100%"></div>
			</div>
		</div>
		<div class="span2">
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
		</div>
		<div class="span4">
			 <p>后续相关事宜我们将尽快通知到您，请注意保持手机畅通，谢谢！</p>
		</div>
		<div class="span4">
		</div>
	</div>
</div>


{% endblock %}